<nav-bar></nav-bar>

<form>
  <div class="form-group">
    <label for="signupEmail">email</label>
    <input type="email" class="form-control" id="signupEmail" placeholder="email">
  </div>
  <div class="form-group">
    <label for="signupUsername">username</label>
    <input type="email" class="form-control" id="signupUsername" placeholder="username">
  </div>
  <div class="form-group">
    <label for="signupPassword">password</label>
    <input type="password" class="form-control" id="signupPassword" placeholder="password">
  </div>
  <div class="form-group">
    <label for="signupConfirmPassword">confirm password</label>
    <input type="password" class="form-control" id="signupConfirmPassword" placeholder="confirm password">
  </div>
  <button type="submit" class="btn btn-default">submit</button>
</form>
